body {
  background-color: #222 ;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100px;
  margin-top: 50px;
  font-family: sans-serif;
}

.top h1 {
  color: #989898;
  font-size: 80px;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #989898;
  font-size: 25px;
  margin-bottom: 25px;
}

.sub p {
  text-align: center;
  width: 50%;
  
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100px;
  margin-top: 50px;
  font-family: sans-serif;
}

.bottom p {
  color: #989898;
  text-align: center;
}

.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }